  <!-- Início do header -->
  <header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" [routerLink]="['/']">Pokémon</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarColor02" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/favor']">Favoritos</a>
            </li>
        </ul>
      </div>
    </nav>
</header>
<!-- Fim do header -->
